.heading {
    background-color: aliceblue;
    color: blueviolet;
}

.link {
    background-color: azure;
    color:chocolate;
}

.paragraph {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}