.map-container {
    position: absolute;
    top: 20;
    bottom: 0;
    width: 80%;
    height: 80%;
    align-self: center;
}

.description {
    color:darkblue;
    background-color:lightcyan;
    font-size:medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.bgm {
    color: gray;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}