.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.description {
    position:relative;
    color:darkblue;
    background: rgba(255, 255, 255, 0.5);
    font-size:medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    overflow: visible;
}

.bgm {
    color: gray;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}